DATABASE_URI="host=localhost port=5440 user=vladimir password=password dbname=shortener sslmode=disable"
SERVER_ADDRESS=":7550"
REDIS_URI=":6379"
//RABBIT_URI="amqp://user:password@rabbitmq:5672/"
//EMAIL_HOST="smtp.yandex.ru"
//EMAIL_PORT="587"
//EMAIL_USER="ccr1@yandex.ru"
//EMAIL_PASS="-------"
//EMAIL_FROM="ccr1@yandex.ru"
//EMAIL_TO="ccr1@yandex.ru,vsgavrilin22@gmail.com"